/* header */
.headerConteiner {
	padding: 6px 0;
	background: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
}
.logo {
	width: 31.815px;
	height: 29px;
	margin: 0 10px;
}
.cardInfo {
	color: #1c1c1c;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
}
.plusBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: black;
	border-radius: 50%;
	border: 1px solid black;
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: 20px;
}
