.cardBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 24px);
  margin: 12px;
  padding: 0 12px 12px 12px;
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 10px;
}
.card.flip{
  animation: rotate 0.5s linear ;
}
.editConteiner {
  display: flex;
  justify-content: right;
}

.text {
  text-align: center;
  margin: 0 20px 20px 20px;
  word-wrap: break-word;
}

.editConteiner button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.card.flip .editConteiner,
.card.flip .text{
  opacity: 0;
}
@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}